* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    }

/* navbar and links*/
.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
   display: flex;
   justify-content: space-between; 
   height: 80px;
   z-index: 1;
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 50px;
}

#navbar_logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, rgb(183, 29, 230) 0%, rgb(82, 26, 235) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(100, 33, 163);
    color: #ffffff;
}

.button:hover {
    background: rgb(72, 14, 233);
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: rgb(72, 14, 233);
    transition: all 0.3s ease;
}

/*styled pages*/
#home {
    color: #ffffff;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url("/images/techimage3.jpg");
    }
  
#bloghome {
  color: #fff;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-image: url('images/techimage2.jpg');
  }

#adminlog {
    color: #2b3e51;
    font-size: 1.6rem;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url('images/techimage.jpg');
    }

#detail {
    color: #2b3e51;
    font-size: 1.6rem;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url('images/womenintech2.jpg');
    background-color: rgba(255,255,255,.1);
    
    }
    #detail section {
        opacity:.9;
    }
    
    /* home page */
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1, .text-purple-gradient {
    font-size:  4rem;
    background-color: #7785ff;
    background-image: linear-gradient(to bottom, rgb(183, 29, 230) 0%, rgb(82, 26, 235) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size:  2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to bottom, rgb(226, 120, 179) 0%, rgb(255, 9, 62) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(72, 14, 233);
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #ffffff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}


/* log in stuff*/
#log {
    font-weight: 300;
    text-align: center;
  }
  
  #p {
    position: relative;
  }
  
  #login-form-wrap {
    background-color: #fff;
    width: 45%;
    margin: 50px auto;
    text-align: center;
    padding: 35px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  }
  
  #login-form {
    padding: 0 60px;
  }
  
  /*create account*/
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #3ca9e2;
  }
  input[type="text"]:focus:invalid,
  input[type="password"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
  }
  input[type="text"]:valid ~ .validation,
  input[type="password"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
  }
  input[type="text"]:valid ~ .validation span,
  input[type="password"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
  }
  input[type="text"]:valid ~ .validation span:first-child,
  input[type="password"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  input[type="text"]:valid ~ .validation span:last-child,
  input[type="password"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }
  
  input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(100, 33, 163);
    color: #ffffff;

  }
  input[type="submit"]:hover {
    background: rgb(72, 14, 233);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #create-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
  }

  /*add blog*/
  #add {
    background: linear-gradient(to top, #e994de 0%, #ac16f1 100%);
}

/* Add account button*/
.btn__btn-primary {
  font-size: 1rem;
   background: rgb(100, 33, 163);
   padding: 14px 32px;
   border: none;
   border-radius: 4px;
   color: #ffffff;
   margin-top: 2rem;
   cursor: pointer;
   position: relative;
   transition: all 0.35s;
   outline: none;
}

.btn__btn-primary:hover {
   background: rgb(72, 14, 233);
   transition: all 0.3s ease;
}

/* Footer */
#logoFoot {
    background-image: linear-gradient(to top, rgb(183, 29, 230) 0%, rgb(82, 26, 235) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    }

    footer {
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: 0;
        background-color: transparent;
        text-align: center;
      }   

.footer__container {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    padding-bottom: 0px;
    color: #fff;
}

.footer__container1 {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    padding-bottom: 0px;
    color: #fff;
}

.medium-text {
    font-size: 1.3rem !important;
}