<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>edit</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="index.html" id="navbar_logo">Aspire Technology</a>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="index.html" class="navbar__links">Home</a>                
                </li>
                <li class="navbar__item">
                    <a href="blogHome.html" class="navbar__links">Blog</a>                
                </li>
                <li class="navbar__item">
                    <a href="addBlog.html" class="navbar__links">Add</a>                
                </li>
                <li class="navbar__btn">
                    <a href="adminLogin.html" class="button">Log In</a>                
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>