<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="index.html" id="navbar_logo">Aspire Technology</a>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="index.html" class="navbar__links">Home</a>                
            </li>
            <li class="navbar__item">
                <a href="blogHome.html" class="navbar__links">Blog</a>                
            </li>
            <li class="navbar__item">
                <a href="addBlog.html" class="navbar__links">Add</a>                
            </li>
            <li class="navbar__item">
                <a href="editBlog.html" class="navbar__links">Edit</a>                
            </li>
            
        </ul>
    </div>
</nav>
<div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Headline</th>
                        <th>Status</th>
                        <th>Activation Date</th>
                        <th>Expiration Date</th>
                        <th>Creation Date</th>
                        <th>Last Updated</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${managerPosts}">
                        <td th:text="${post.postId}">Post ID</td>
                        <td th:text="|${post.author.lastName}, ${post.author.firstName}|">Author Name</td>
                        <td th:text="${post.title}">Post Title</td>
                        <td th:text="${post.headline}">Post Headline</td>
                        <td th:text="${post.status.toString()}">Status</td>
-->                     <td th:text="${post.activationDate != null} ? ${post.activationDate} : 'N/A'">Activation Date</td>
                        <td th:text="${post.expirationDate != null} ? ${post.expirationDate} : 'N/A'">Expiration Date</td>
                        <td th:text="${post.createdAt}">Creation Date</td>
                        <td th:text="${post.updatedAt}">Last Updated</td>
                        <td><a href="#" th:href="@{/admin/edit-blog(id=${post.postId})}">Edit</a></td>
                        <td><a href="#" th:href="@{/admin/delete-blog(id=${post.postId})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--Footer-->
<footer>
    <div class="footer__container">
        <div class="footer__link">
            <div class="footer__link--wrapper">
    <h3 id="logoFoot">Aspire Technology</h3>
    <p>Copyright © 2022 WE Aspire, INC</p>
            </div>
        </div>
    </div>
    </footer>
</body>
</html>