<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspire Tech Blog</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body id="home">
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar_logo">Aspire Technology</a>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links">Home</a>                
                </li>
                <li class="navbar__item">
                    <a href="/blog" class="navbar__links">Blog</a>                
                </li>
                <li class="navbar__btn">
                    <a href="/admin/login" class="button">Log In</a>                
                </li>
            </ul>
        </div>
    </nav>

<!--About section-->
<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>Aspire Technology</h1>
            <h2> Promoting Everything Involving Women in Tech</h2>
            
            <p>Check out Blogs including the latest news about Women in Tech!</p>
            
                <button class="main__btn"><a href="/blog">Get Informed</a></button>
        </div>
        <div class="main__img--container">
            <img src="images/womenintech.jpg" alt="Women in Tech" id="main__img">
        </div>
    </div>
</div>
<!--Footer-->
<br>


<div class="footer__container">
    <div class="footer__link">
        <div class="footer__link--wrapper">
<h3 id="logoFoot">Aspire Technology</h3>
<p>Copyright © 2022 WE Aspire, INC</p>
        </div>
    </div>
</div>


<script src="main.js"></script>
</body>
</html>